body{
    background-color: #006400;
    text-align: center;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
}

button{
    border: none;
    color: #006400;
    background-color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
    width: 150px;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}